@{
    Layout = null;
    var recipeTitle = "How to Make Ciken Biryani";
    var recipieId = 101;
    var description = "<p>How to make Chicken Biryani - Chunks of chicken, flavourful spices and long grain basmati rice layered in a handi, sealed and cooked to perfection.</p>";
    var recipeInfo = new string[]
        {
            "Chef: Lyoid Lopes",
            "Country: India",
            "Course: Rice",
            "Cuisine: Hyderabadi",
            "Main Ingredients: Boneless Chicken, Basmati Rice"
        };

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>@recipeTitle</h1>
    <h2>Recipe ID : #@recipieId</h2>

    <h5>Description</h5>
    <div>@Html.Raw(description)</div>

    <h5>Recipe Info</h5>

    <div>
        <ul>


        </ul>
        @foreach (var info in recipeInfo)
        {
            <text>* @info</text>

        }


    </div>




    </div>
</body>
</html>
