@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Recipie Book Detail";
 
    

}



<h1>@ViewBag.RecipeTitle</h1>
<h2>Recipe ID : #@ViewBag.RecipieId</h2>

<h5>Description</h5>
<div>@Html.Raw(ViewBag.Description)</div>

@if (ViewBag.RecipeInfo.Length > 0)
{
    <h5>Recipe Info</h5>
    <div>
        <ul>
            @foreach (var info in ViewBag.RecipeInfo)
            {
                <li>@info</li>

            }
        </ul>
    </div>
}
    
