@model RecipeBookGallery.Models.RecipeBook
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
 
    

}

<h1>@Model.RecipeTitle</h1>
<h2>Recipe ID : #@Model.RecipeId</h2>

<h5>Description</h5>
<div>@Html.Raw(Model.DescritptionHtml)</div>

@if (Model.RecipeIngredients.Length > 0)
{
    <h5>Ingredients</h5>
    <div>
        <ul>
            @foreach (var ingredient in Model.RecipeIngredients)
            {
                <li>@ingredient.Ingredient: @ingredient.Quantity</li>

            }
        </ul>
    </div>
}
    
